
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: 'Prompt', sans-serif;
}



/* CONTENT AFTER ANIMATION */
#content{
    display: none;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;

}
#content h1{
    font-size: xx-large;

}
#content h2{
    color: white;
    padding-top: 20px;
}


/* ANIMATION */
.animationForCSS{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  

}
.animationForCSS h1{
    color: white;
    font-weight: 300;
    text-align: center;
}
.animationForCSS h1 span {opacity:0;padding: 50px;}
.letter01 {animation:letters 3s ease 0000ms forwards;}
.letter02 {animation:letters 3s ease 0250ms forwards;}
.letter03 {animation:letters 3s ease 0500ms forwards;}
.letter04 {animation:letters 3s ease 0750ms forwards;}
.letter05 {animation:letters 3s ease 1000ms forwards;}


@keyframes letters {
	0% {opacity:0;}
	100% {opacity:1.0;}
}
/* ANIMATION END*/


/* RESPONSIVE DESIGN*/

@media screen and (max-width: 480px) {
    .animationForCSS h1{
        letter-spacing: 5px;
    }
    .animationForCSS h1 span {padding: 10px;}
}

